<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParishManV1.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ParishManV1.My.MySettings.parishdbConnectionString"
            connectionString="server=localhost;user id=root;password=John3:16;persistsecurityinfo=True;database=parishdb"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <ParishManV1.My.MySettings>
            <setting name="schema" serializeAs="String">
                <value>parishdb</value>
            </setting>
            <setting name="macname" serializeAs="String">
                <value>LITTLEFLOWER</value>
            </setting>
            <setting name="logpath" serializeAs="String">
                <value>C:\ParishManagement\</value>
            </setting>
        </ParishManV1.My.MySettings>
    </applicationSettings>
</configuration>